[package]
name = "mundis-config-program"
version = "1.9.17"
authors = ["Mundis Maintainers <maintainers@mundis.io>"]
repository = "https://github.com/mundisnetwork/axis"
license = "Apache-2.0"
homepage = "https://mundis.io/"
edition = "2021"

[dependencies]
bincode = "1.3.3"
chrono = { version = "0.4.11", features = ["serde"] }
serde = "1.0.130"
serde_derive = "1.0.103"
mundis-program-runtime = { path = "../../program-runtime", version = "=1.9.17" }
mundis-sdk = { path = "../../sdk", version = "=1.9.17" }

[dev-dependencies]
mundis-logger = { path = "../../logger", version = "=1.9.17" }

[lib]
crate-type = ["lib"]
name = "mundis_config_program"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
