[package]
name = "mundis-address-lookup-table-program"
description = "Create collections of related addresses on-chain for concise use in a transaction's account inputs"
version = "1.9.14"
authors = ["Mundis Maintainers <maintainers@mundis.io>"]
repository = "https://github.com/mundisnetwork/axis"
license = "Apache-2.0"
homepage = "https://mundis.io/"
edition = "2021"

[dependencies]
bincode = "1.3.3"
bytemuck = "1.7.2"
log = "0.4.14"
num-derive = "0.3"
num-traits = "0.2"
serde = { version = "1.0.127", features = ["derive"] }
mundis-frozen-abi = { path = "../../frozen-abi", version = "=1.9.14" }
mundis-frozen-abi-macro = { path = "../../frozen-abi/macro", version = "=1.9.14" }
mundis-program-runtime = { path = "../../program-runtime", version = "=1.9.14" }
mundis-sdk = { path = "../../sdk", version = "=1.9.14" }
thiserror = "1.0"

[build-dependencies]
rustc_version = "0.4"

[lib]
crate-type = ["lib"]
name = "mundis_address_lookup_table_program"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
