[package]
name = "mundis-program-runtime"
version = "1.9.16"
authors = ["Mundis Maintainers <maintainers@mundis.io>"]
repository = "https://github.com/mundisnetwork/axis"
license = "Apache-2.0"
homepage = "https://mundis.io/"
edition = "2021"

[dependencies]
base64 = "0.13"
bincode = "1.3.3"
itertools =  "0.10.1"
libc = "0.2.101"
libloading = "0.7.0"
log = "0.4.14"
num-derive = { version = "0.3" }
num-traits = { version = "0.2" }
serde = { version = "1.0.129", features = ["derive", "rc"] }
mundis-frozen-abi = { path = "../frozen-abi", version = "=1.9.16" }
mundis-frozen-abi-macro = { path = "../frozen-abi/macro", version = "=1.9.16" }
mundis-logger = { path = "../logger", version = "=1.9.16" }
mundis-measure = { path = "../measure", version = "=1.9.16" }
mundis-sdk = { path = "../sdk", version = "=1.9.16" }
thiserror = "1.0"

[lib]
crate-type = ["lib"]
name = "mundis_program_runtime"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
rustc_version = "0.4"
