[Unit]
Description=Mundis API Node
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mundis
LimitNOFILE=500000
LogRateLimitIntervalSec=0
ExecStart=/home/mundis/bin/api.sh
EnvironmentFile=-/etc/default/mundis

[Install]
WantedBy=multi-user.target