[Unit]
Description=Mundis Validator
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mundis
LimitNOFILE=1000000
LogRateLimitIntervalSec=0
ExecStart=/usr/local/bin/start-mundis-validator.sh

[Install]
WantedBy=multi-user.target
