[Unit]
Description=Mundis Faucet
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mundis
LogRateLimitIntervalSec=0
ExecStart=/home/mundis/bin/faucet.sh
EnvironmentFile=-/etc/default/mundis

[Install]
WantedBy=multi-user.target
