[package]
name = "mundis-poh"
version = "1.9.15"
authors = ["Mundis Maintainers <maintainers@mundis.io>"]
repository = "https://github.com/mundisnetwork/axis"
license = "Apache-2.0"
homepage = "https://mundis.io/"
edition = "2021"

[dependencies]
core_affinity = "0.5.10"
crossbeam-channel = "0.5"
log = "0.4.14"
mundis-entry = { path = "../entry", version = "=1.9.15" }
mundis-ledger = { path = "../ledger", version = "=1.9.15" }
mundis-measure = { path = "../measure", version = "=1.9.15" }
mundis-metrics = { path = "../metrics", version = "=1.9.15" }
mundis-runtime = { path = "../runtime", version = "=1.9.15" }
mundis-sdk = { path = "../sdk", version = "=1.9.15" }
thiserror = "1.0"

[dev-dependencies]
bincode = "1.3.3"
matches = "0.1.9"
rand = "0.7.0"
mundis-logger = { path = "../logger", version = "=1.9.15" }
mundis-perf = { path = "../perf", version = "=1.9.15" }

[lib]
crate-type = ["lib"]
name = "mundis_poh"

[[bench]]
name = "poh"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
