[package]
name = "mundis-vote-program"
version = "1.9.17"
authors = ["Mundis Maintainers <maintainers@mundis.io>"]
repository = "https://github.com/mundisnetwork/axis"
license = "Apache-2.0"
homepage = "https://mundis.io/"
edition = "2021"

[dependencies]
bincode = "1.3.3"
log = "0.4.14"
num-derive = "0.3"
num-traits = "0.2"
serde = "1.0.130"
serde_derive = "1.0.103"
mundis-frozen-abi = { path = "../../frozen-abi", version = "=1.9.17" }
mundis-frozen-abi-macro = { path = "../../frozen-abi/macro", version = "=1.9.17" }
mundis-logger = { path = "../../logger", version = "=1.9.17" }
mundis-metrics = { path = "../../metrics", version = "=1.9.17" }
mundis-program-runtime = { path = "../../program-runtime", version = "=1.9.17" }
mundis-sdk = { path = "../../sdk", version = "=1.9.17" }
thiserror = "1.0"

[build-dependencies]
rustc_version = "0.4"

[lib]
crate-type = ["lib"]
name = "mundis_vote_program"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
